<?xml version="1.0" encoding="utf-8"?>
<Configuration packages="com.actyx.challenge"
               monitorInterval="60">
    <CustomLevels>
        <CustomLevel name="TIMING" intLevel="550" />
        <CustomLevel name="ACCESS" intLevel="425" />
        <CustomLevel name="AUDIT"  intLevel="350" />
    </CustomLevels>
    <Appenders>
        <Console name="stdout">
            <PatternLayout>
                <Charset>utf-8</Charset>
                <alwaysWriteExceptions>true</alwaysWriteExceptions>
                <Pattern>
                    %highlight{%-6p}{TRACE=black, DEBUG=cyan, INFO=green, WARN=yellow, ERROR=red} [%d{ISO8601}] - %m --- [%t] %c - %K%n
                </Pattern>
            </PatternLayout>
        </Console>
    </Appenders>
    <Loggers>
        <AsyncRoot level="info">
            <AppenderRef ref="lowlevel" />
            <AppenderRef ref="stdout" />
        </AsyncRoot>
    </Loggers>
</Configuration>
